
# GWT
/gwt-unitCache/
/war/WEB-INF/deploy/
/war/WEB-INF/classes/

# Compiled output
/war/hornetblast
/war/space
/war/games
/war/batblast

# App Engine jars
/war/WEB-INF/lib/appengine-api-1.0-sdk-*.*.*.jar
/war/WEB-INF/lib/appengine-api-labs-*.*.*.jar
/war/WEB-INF/lib/appengine-jsr107cache-*.*.*.jar
/war/WEB-INF/lib/jsr107cache-1.1.jar

# GWT jars
/war/WEB-INF/lib/gwt-servlet.jar

