@CHARSET "UTF-8";

@import "Game.css"

XX .space * { /* DEBUGGING */
  border: 1px solid green;
  background-color: #ABCDEF;
}

.space {
  font-size: bold;
}

.space .gwt-Label ,
.space .gwt-HTML {
  background-color: #ABCDEF;
}

.space .timerText {
  position: absolute;
  left: 10px;
  top: 20px;
}