@CHARSET "UTF-8";

* {
  border: none;
  margin: 0px;
  padding: 0px;
  Xborder: 1px solid black;
  font-size: bold;
}

.timerText {
  background-color: #ABCDEF;
}

.backgroundImage {
  Xwidth: 100%;
  Xheight: 100%;
}