@CHARSET "UTF-8";

* { /* DEBUGGING */
  Xborder: 1px solid green;
  Xbackground-color: #ABCDEF;
}

* {
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: bold;
}

.timerText {
  background-color: #ABCDEF;
}

.player {
  z-index: 2;
}