@CHARSET "UTF-8";

XX * { /* DEBUGGING */
  border: 1px solid green;
  background-color: #ABCDEF;
}

* {
  border: none;
  margin: 0px;
  padding: 0px;
  font-size: bold;
}

.timerText {
  background-color: #ABCDEF;
}

.player {
  z-index: 2;
}