@CHARSET "UTF-8";

* {
  border: none;
  margin: 0px;
  padding: 0px;
}

HTML,BODY { /* TODO remove after GWT issue 1357 is fixed */
  height: 100%;
}

HTML,BODY { /* TODO remove after GWT issue 1390 is fixed */
  overflow: hidden;
}

HTML,BODY {
  margin: 0px;
  padding: 0px;
}

IFRAME { /* TODO remove after GWT issue 1359 is fixed */
  display: none;
}

.playfield,.backgroundImage {
  width: 100%;
  height: 100%;
}

XX .playfield { /* DEBUGGING */
  border: 3px dashed red;
  margin: -6px;
}

/*
.transparent50 {
  filter: alpha(opacity = 50);
  opacity: 0.5;
  -moz-opacity: 0.5;
}
*/
.bounding-box {
  border: 1px solid green;
  z-index: 42;
}