@CHARSET "UTF-8";

* {
  border: none;
  margin: 0px;
  padding: 0px;
}

HTML,BODY { /* TODO remove after GWT issue 1357 is fixed */
  height: 100%;
}

HTML,BODY { /* TODO remove after GWT issue 1390 is fixed */
  overflow: hidden;
}

HTML,BODY {
  margin: 0px;
  padding: 0px;
}

IFRAME { /* TODO remove after GWT issue 1359 is fixed */
  display: none;
}

.player {
  z-index: 3;
}

.game-playfield {
  z-index: 2;
}

.game-background {
  z-index: 1;
}

.game-layer {
  width: 100%;
  height: 100%;
}

.game-background-image {
  width: 100%;
  height: 100%;
}

/*
.transparent50 {
  filter: alpha(opacity = 50);
  opacity: 0.5;
  -moz-opacity: 0.5;
}
*/

.bounding-box {
  xborder: 1px solid green;
  z-index: 42;
}

.playerText {
  color: red;
}