@CHARSET "UTF-8";

* {
  border: none;
  margin: 0px;
  padding: 0px;
  Xborder: 1px solid black;
}

HTML,BODY {
  Xbackground-color: #ABCDEF;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

IFRAME {
  display: none; /* TODO remove after GWT issue 1359 is fixed */
}

/*
.transparent50 {
  filter: alpha(opacity = 50);
  opacity: 0.5;
  -moz-opacity: 0.5;
}
*/
